.App {
  text-align: center;
  display :flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.weather {
  background-color: white;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 4px;
  margin: 20px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border: 1px solid rgba(0, 0, 0, 0.1); /* OR subtle border */
}

.weather .city{
}

.weather .condition {
  display:flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.weather .temperature {
  font-size: 20px;
  color:white;
}

.searchbar {
  background-color: RGBA(59, 89, 152, 1.00);
  width:100%;
  padding: 10px;
}

body {
  background-color: RGBA(233, 235, 238, 1.00);
}

.searchbar input[type=submit] {
  color: #999999;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: lighter;
  opacity: 0.6;
}

.searchbar input[type=submit]:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}
